<html>
{{#each foo}}
{{this}}
{{/each}}
<div>
   
<h3> Associate Certificate(s) with a Person </h3>
    <form id="add_people_certificates" action='' method=''>
    Person: <select id="person_select" name='pid'>
        {{#each people}}
          <option value='{{studentID}}'>{{firstName}} {{lastName}}</option>
        {{/each}}
    </select>
    <br>

    {{!--Certificates:<sup>Multi-select</sup> <select multiple name="certs"> 
        {{#each classes}}
        <option value="{{cid}}">{{title}}</option>
        {{/each}}
    </select><br>
    --}}
    <input type="button" value="Submit" onclick="filterPeople()">
    </form>
</div>
<br/>
<h3> List of People with their Certifications </h3>
<table>
    <thead> 
        <th>Name</th> 
        <th>Certificate</th> 
    </thead> 
    <tbody> 
        {{#each classes}} 
        <tr> 
            <td>{{cid}}</td> 
            <td>{{name}}</td> 
            <td>{{Instructor}}</td> 
            {{!-- <td><button onclick="deletePeopleCert({{pid}},{{cid}})">Delete</button></td> --}}
            {{!-- <td><a href='#' onclick='javascript: alert("You can implement it just like the Add form.")'>Update</a></td> --}}
        </tr>
        {{else}}
        <b> No people with any certifications found! Grant some using the form. </b>
        {{/each}} 

    </tbody>
</table> 
</html>
